@model IEnumerable<ExamenUltimo.Models.Reserva>

@{
    ViewData["Title"] = "Mis Reservas";
}

<h1>Mis Reservas</h1>

<p>
    <a asp-action="Create">Crear nueva reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Reserva">Editar Reserva</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Reserva">Detalles Reserva</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Reserva">Cancelar Reserva</a>
            </td>
        </tr>
}
    </tbody>
</table>
